@{
  Layout = "_Layout";
}
@using Pierre.Models;
@model List<Pierre.Models.FlavorTreat>;

<h1>Welcome to the Pierre's Treat Tracker!</h1>
<p>Some of the treats and flavors we make:</p>
<table>
  <tr>
    <th>
      Treats
    </th>
    <th>
      Flavors
    </th>
  </tr>
  @foreach(FlavorTreat flavorTreat in Model)
  {
    <tr>
      <td>
        @flavorTreat.Treat.TreatName
      </td>
      <td>
        @flavorTreat.Flavor.FlavorName
      </td>
    </tr>
  }

</table>
<p>@Html.ActionLink("See all treats", "Index", "Treats", new { area = "" }, new { @class = "accept" })</p> 
<p>@Html.ActionLink("See all flavors", "Index", "Flavors", new { area = "" }, new { @class = "accept" })</p>
<p>@Html.ActionLink("Create an account", "Index", "Account", new { area = "" }, new { @class = "accept" })</p>