@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<h1>Treat Details</h1>
<hr />
<h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This treat does not have any special flavors, yet</p>
}
else
{
  <h4>Flavors:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Flavor.FlavorName
    @using (Html.BeginForm("DeleteFlavor", "Treats"))
    {
      @Html.Hidden("joinId", @join.FlavorTreatId)
      <input type="submit" value="Delete" class="delete" />
    }</li>
  }
  </ul>
}

<p>@Html.ActionLink("Add a flavor", "AddFlavor", new { id = Model.TreatId }, new { @class = "accept" })</p>
<p>@Html.ActionLink("Back to list", "Index", new { area = "" }, new { @class = "accept" })</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId }, new { @class = "accept" })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId }, new { @class = "accept" })</p>