@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor

<h1>Edit</h1>

<h4>Edit this flavor: @Html.DisplayFor(model => model.FlavorName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.FlavorName)
  @Html.EditorFor(model => model.FlavorName)

  <input type="submit" value="Save" class="accept" />
}
<p>@Html.ActionLink("Back to list", "Index", new { area = "" }, new { @class = "accept" })</p>